.messenger {
    width: 100vw;
    height: calc(100vh - 56px);
    display: flex;
    background: #fff;
}

.chatMenu {
    flex: 2.5;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.chatMenuInputWrapper {
    width: 100%;
    height: 14%;
    padding: 0 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.chatMenuInputWrapper h1 {
    font-size: 24px;
    height: 49px;
    display: flex;
    align-items: center;
}

.chatMenuInput {
    margin-top: 12px;
    width: 100%;
    background-color: #F0F2F5;
    height: 36px;
    border-radius: 32px;
    padding: 7px 16px 9px;
    border: none;
    outline: none;
}

.chatWrapper {
    height: 86%;
    overflow-y: auto;
}

.chatBox {
    flex: 7;
    min-width: 0;
}

.chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chatBoxTop {
    height: 100%;
    overflow-y: auto;
    padding-right: 8px;
}

.chatBoxBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0 2px;
    box-sizing: border-box;
}

.chatMessageInput {
    font-size: 15px;
    width: 100%;
    max-height: 124px;
    line-height: 20.078px; 
    outline: none;
    overflow: auto;
}

.chatSubmitButton {
    padding: 8px;
    margin: 0 4px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.chatOnline {
    flex: 2.5;
}

.chatOnlineWrapper {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.chatMenuWrapper, .chatBoxWrapper, .chatOnlineWrapper {
    padding: 10px;
    height: 100%;
}

.chatBoxWrapper {
    padding-right: 0%;
    padding-top: 0%;
}

.chatMenuWrapper {
    padding-top: 0px;
    padding-bottom: 0px;
}

.noConversationText {
    width: 100%;
    height: 100%;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    font-size: 1.25rem;
    font-weight: 700;
}