.messenger {
    width: 100vw;
    height: calc(100vh - 56px);
    display: flex;
    background: #fff;
}

.chatMenu {
    flex: 3.5;
}

.chatMenuInput {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}

.chatBox {
    flex: 3.5;
}

.chatOnline {
    flex: 3.5;
}

.chatMenuWrapper, .chatBoxWrapper, .chatOnlineWrapper {
    padding: 10px;
    height: 100%;
}